[submodule "turtlebot4_simulator"]
	path = turtlebot4_simulator
	url = https://github.com/turtlebot/turtlebot4_simulator.git
	branch = jazzy
[submodule "april_tag_detection/april_tags_repo"]
	path = april_tag_detection/april_tags_repo
	url = https://github.com/rickarmstrong/gazebo_apriltag
