<?xml version="1.0" ?>
<model>
    <name>4floor_hotel</name>
    <version>1.0</version>
    <sdf version="1.7">elevator.sdf</sdf>
    <author>
        <name>Nguyen Thanh Tai</name>
        <email>nexoncolors@gmail.com</email>
    </author>
    <description>This is a four-floor building model for GZ Sim, featuring an elevator and multiple rooms. It provides a hotel-like indoor environment for testing navigation, mapping, and service robot behavior in multi-level scenarios.</description>
</model>
